/* Slider Starts */
.slider {
    .qoute {
        font: {
            size: 18px;
            style: italic;
            weight: bold;
            family: arial;
        }
        line-height: 1.7;
        text-align: center;
        color: $grayMainColor;
        margin: 30px auto;
        width: 75%;
    }
    .slider-img {
        width: 80%;
        margin-left: 12%;
        border-radius: 15px;
        transition: 0.7s;
        &:hover {
            transform: translateY(-7px);
        }
    }
    .bullets {
        text-align: center;
        li {
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: $grayMainColor;
            border-radius: 50%;
            cursor: pointer;
            &.active,
            &:hover {
                background-color: #fff;
                border: 2px solid #000;
            }
        }
    }
}
/* Slider Ends */
/* Our Service Starts*/
.services {
    .service-box {
        @media #{$mediumScreen} {
            float: $float-direction;
            width: (100% / 3);
            padding-right: 20px;
        }
        @media #{$mobile} {
        }
        .service-title {
            @media #{$smallScreen} {
                text-align: center;
            }
            @media #{$mobile} {
                text-align: center;
            }
            color: $redMainColor;
            .fa {
                font-size: 35px;
                position: relative;
                top: 4px;
                color: $grayMainColor;
                margin-right: 10px;
            }
        }
        .servic-desc {
            line-height: 1.5;
            color: $grayMainColor;
        }
        .servic-link {
            color: $redMainColor;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
/* Our Service Ends*/

/* Our Service Starts*/
.players {
    .player-box {
        @media #{$smallScreen } {
            float: $float-direction;
            width: (100% / 2);
            text-align: center;
            margin-bottom: 40px;
            padding-right: 20px;
        }
        @media #{$mediumScreen } {
            width: (100% / 3);
            text-align: $float-direction;
            padding-right: 20px;
            padding-left: 20px;
        }
        @media #{$bigScreen} {
            width: (100% / 5);
        }
        @media #{$mobile} {
            width: 100%;
            float: none;
            display: block;
            padding-right: 20px;
            padding-left: 20px;
            margin-bottom: 40px;
        }
        float: $float-direction;
        width: (100% / 5);
        padding-right: 20px;
        img {
            width: 100%;
        }
        .player-tilte {
            font-weight: normal;
            color: $grayMainColor;
            span {
                color: $redMainColor;
                font-weight: bold;
            }
        }
        .player-desc {
            line-height: 1.5;
            color: $grayMainColor;
        }
        .player-link {
            color: $redMainColor;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
/* Our Service Ends*/

/* Lorem Starts*/
.Lorem {
    .lorem-box {
        float: $float-direction;
        width: (100% / 3);
        padding-right: 20px;
        transition: 0.7s;
        @media #{$mobile} {
            width: 100%;
            float: none;
            display: block;
            padding-right: 20px;
            padding-left: 20px;
            margin-bottom: 40px;
        }
        img {
            max-width: 100%;
            border-radius: 15px;
        }
        &:hover {
            transform: translateY(-7px);
        }
    }
}
/* Lorem Ends*/
