/*Media Queries*/
$mobile : "(max-width:767px)";
$smallScreen :"(min-width:768px)";
$mediumScreen : "(min-width:992px)";
$bigScreen : "(min-width:1200px)";
/*Identity Colors*/
$redMainColor :#e2494c;
$grayMainColor : #9c9c9c; 
/*RTL Direction*/
$float-direction: left;
$float-directionr: right;